.root {
    margin: 10px 0px
}

.primaryTitle {
    color: #f3ce13;
    font-size: 3rem;
    margin: 2rem 0rem
}

.secondaryTitle {
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem 0rem
}